<div class="container mt-4">
  <h2>{{ 'LOGIN' | translate }}</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>{{ 'EMAIL' | translate }}</label>
      <input type="text" class="form-control" [(ngModel)]="email" name="email" required>
    </div>
    <div class="mb-3">
      <label>{{ 'PASSWORD' | translate }}</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <div class="text-danger" *ngIf="errorMessage">{{ 'ERROR_MESSAGE' | translate }}</div>

    <button type="submit" class="btn btn-primary me-2">{{ 'LOGIN' | translate }}</button>
    <button type="button" class="btn btn-link" (click)="goRegister()">
      {{ 'GO_TO_REGISTER' | translate }}
    </button>
  </form>
</div>
