<div class="container mt-4">
  <h2>Login</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Email</label>
      <input type="text" class="form-control" [(ngModel)]="email" name="email" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-primary me-2">Login</button>
    <button type="button" class="btn btn-link" (click)="goRegister()">Go to Register</button>
  </form>
</div>
