<div class="alert alert-danger" *ngIf="errorMsg">
  {{ errorMsg }}
</div>

<div *ngIf="loading">
  <p>Loading analytics...</p>
</div>

<div *ngIf="!loading && analyticsData">
  
  <h3 class="text-center">{{ analyticsData.testName }} - Analytics</h3>

  <div class="d-flex align-items-center justify-content-between analytics-container">
    <!-- Левая часть - текст -->
    <div class="analytics-text">
      <p><strong>TestId:</strong> {{ analyticsData.testId }}</p>
      <p><strong>Average Score:</strong> {{ analyticsData.averageScorePercent | number : '1.0-2' }}%</p>
      <p><strong>Total Attempts:</strong> {{ analyticsData.totalAttempts }}</p>
    </div>

    <!-- Правая часть - Диаграмма -->
    <div class="chart-container">
      <ngx-charts-pie-chart
        [results]="data"
        [view]="view"
        [scheme]="colorScheme"
        [labels]="true"
        [doughnut]="true"
      ></ngx-charts-pie-chart>
    </div>
  </div>
  <hr/>

  <h4>History</h4>
  <div class="bg-light p-2 mb-2"
       *ngFor="let h of analyticsData.history">
    <div class="d-flex justify-content-between">
      <div>
        <p>UserTestId: {{ h.userTestId }}</p>
        <p>User: {{ h.userEmail }} ({{ h.userFullName }})</p>
        <p>DateCreated: {{ h.dateCreated }}</p>
        <p>Correct: {{ h.correctAnswers }}/{{ h.totalQuestions }}</p>
      </div>
      <button class="btn btn-sm btn-outline-primary"
              (click)="toggleExpandHistory(h)">
        {{ expandedHistory[h.userTestId] ? 'Hide' : 'Show' }} details
      </button>
    </div>

    <div class="mt-2"
         *ngIf="expandedHistory[h.userTestId]">
      <hr/>
      <div *ngFor="let q of h.questions" class="ps-3 mb-3 border-bottom">
        <strong>{{ q.questionText }}</strong>
        <span class="text-muted">[Type={{ q.questionType }}]</span>
        <div class="ms-3 mt-1"
             *ngIf="q.answerOptions && q.answerOptions.length > 0; else noAnswers">
          <ng-container *ngFor="let ans of q.answerOptions">

            <div *ngIf="ans.userTextAnswer">
              <em>Your text answer: </em>
              <span [ngClass]="getTextAnswerClass(ans)">
                {{ ans.userTextAnswer }}
              </span>
            </div>

            <div *ngIf="!ans.userTextAnswer">
              <input type="checkbox"
                     disabled
                     [checked]="ans.isChosen"
                     [ngClass]="getAnswerClass(ans)" />
              <span [ngClass]="getAnswerClass(ans)">
                {{ ans.text }}
              </span>
              <span *ngIf="ans.isCorrect" class="text-success ms-1">
                (Correct)
              </span>
            </div>
          </ng-container>
        </div>
        <ng-template #noAnswers>
          <em class="text-muted">No answers found.</em>
        </ng-template>
      </div>
    </div>
  </div>
</div>
