/* src/app/analytics/test-analytics.component.scss */

.selected-correct {
    background-color: #d4edda;
    color: #155724;
    padding: 0 4px;
    border-radius: 2px;
    margin-left: 2px;
  }
  .selected-wrong {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0 4px;
    border-radius: 2px;
    margin-left: 2px;
  }
  .analytics-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .analytics-text {
    font-size: 18px;
    font-weight: 100px;
    margin-right: 20px;
  }
  
  .chart-container {
    width: 500px; // Увеличен размер диаграммы
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  